{% block sidebar %}
    <div class="list-group list-group-flush" style="background-color: #154bad">
        <a href="{{ path('admin_projet_index') }}" class="" style="color: white"><b>MISSIONS</b></a>
        <br>
        <a href="" type="button" class="btn btn-warning" style="color: black"
           style="border-radius: 5px"><b>DISCUSSION SLACK</b></a>
        <br>
    </div>

    <div>
        <a href="{{ path('app_logout') }}" type="button" class="btn btn-outline-light" style="border-radius: 5px">
            Déconnexion
        </a>
    </div>
{% endblock %}