{% block sidebar %}

    <div class="list-group list-group-flush"  style="background-color: #154bad">
        <a href="{{ path('user_missions') }}" class="" style="color: white"><b>MISSIONS</b></a>
        <br>
        <a href="{{ path('user_competences', {id: app.user.id}) }}" class="" style="color: white"><b>COMPÉTENCE</b></a>
        <br>
        <a href="#" class="" style="color: white"><b>REMUNÉRATION</b></a>
        <br>
        <a href="#" class="" style="color: white"><b>ÉVÉNEMENT</b></a>
        <br>
    </div>

    <div>
        <a href="{{ path('app_logout') }}" type="button" class="btn btn-outline-light" style="border-radius: 5px">
            Déconnexion
        </a>
    </div>

{% endblock %}