{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="inputEmail">Title</label>
                    {{ form_widget(form.title, {'attr' : {'class' : 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="inputEmail">Client</label>
                    {{ form_widget(form.client, {'attr' : {'class' : 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="inputEmail">Description</label>
                    {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="form-group">
                        <label for="inputEmail">Chef de projet</label>
                        {{ form_widget(form.chef_projet, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="inputEmail">Equipe</label>
                        {{ form_widget(form.equipe, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="inputEmail">TypeProjet</label>
                    {{ form_widget(form.typeProjet, {'attr' : {'class' : 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="inputEmail">Budget</label>
                    {{ form_widget(form.budget, {'attr' : {'class' : 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="inputEmail">Deadline</label>
                    {{ form_widget(form.deadline, {'attr' : { 'type':'date'}}) }}
                </div>
                <div class="form-group">
                    <label for="inputEmail">Equipe_necessaire</label>
                    {{ form_widget(form.equipe_necessaire, {'attr' : {'class' : 'form-control'}}) }}
                </div>
                <button class="btn btn-warning">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
