{% extends 'back/base_admin.html.twig' %}
{% block title %}Edit Projet{% endblock %}

{% block content %}
    <h1><b>Edit Projet </b><a href="{{ path('admin_projet_index') }}" class="btn btn-warning" type="button">Back to
            list</a> </h1>
    {{ include('projet/_delete_form.html.twig') }}
    <br>
    {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}
