{% extends 'back/base_admin.html.twig' %}

{% block title %}Les missions{% endblock %}

{% block content %}
    <h3>Les</h3>
    <h3><b>missions</b> <a href="{{ path('admin_projet_new') }}" type="button" class="btn btn-warning"
                           style="color: black"><b>Create new</b></a>
    </h3>
    <br>

    <div class="col-md-6">
        <div class="d-inline-flex justify-content-between">
            <a style="color: black;" class=""
               href="{{ path('admin_projet_filter_status', {status : "disponible"}) }}"><b><img
                            src="https://cdn.discordapp.com/attachments/684871801901154331/685221267653394445/Group_14.png"></b></a>

            <a style="margin-left: 2em; color: black;" class=""
               href="{{ path('admin_projet_filter_status', {status : "non_disponible"}) }}"><b>EN
                    COURS</b></a>
        </div>
    </div>
    <br>
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-10 col-xl-8 d-inline-flex flex-wrap">
            <a class="btn btn-outline-black" href="{{ path('admin_projet_index') }}" role="tab"
               style="color: black; border-radius: 10px;"><b>TOUS</b></a>
            {% for type in typeProjets %}
                <a class="btn btn-outline-black" href="{{ path('admin_projet_filter_type', {'id': type.id}) }}"
                   role="tab"
                   style="color: black; border-radius: 10px;"><b>{{ type.title }}</b></a>
            {% endfor %}
        </div>
        <!-- Grid column -->

    </div>
    <br>

    <!-- Card deck -->

    <div class="row col-md-12">
        <div class="d-inline-flex justify-content-between flex-wrap align-items-center">
            {% for projet in projets %}
                <!-- Card -->
                <div style="height: 600px;">
                    <div class="card" style="width: 400px; height: 500px;">

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title text-center">{{ projet.title }}</h4>

                            <!--Client -->
                            <p class="client-title text-center">{{ projet.client }}</p>

                            <p><b>Budget :</b> {{ (projet.budget == null ) ? 0 : projet.budget }}€</p>
                            <p><b>Deadline :</b> {{ projet.deadline|date("m/d/Y") }}</p>
                            <b>Équipe nécessaire :</b>
                            <p>
                            <ul>
                                {% for metier in projet.equipeNecessaire %}
                                    <li>{{ metier }}</li>
                                {% endfor %}
                            </ul>
                            </p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="text-center">
                                <a href="{{ path('admin_projet_show', {'id': projet.id}) }}"
                                   class="btn btn-warning" style="color: black"><b>DÉTAILS</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Card deck -->


{% endblock %}