{% extends 'back/base_admin.html.twig' %}
{% block title %}New Projet{% endblock %}

{% block content %}
    <h1>Create new Projet <a href="{{ path('admin_projet_index') }}" class="btn btn-warning" type="button">Back to
            list</a></h1>


    {{ include('projet/_form.html.twig') }}


{% endblock %}
