{% extends 'back/base_admin.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block content %}
    <h3>Les</h3>
    <h3><b>missions</b> </h3>

    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-2 text-center">
                            <h1 class="projet-titre">{{ projet.title }} </h1>
                            <p>{{ projet.client }}</p>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <b>Mon équipe: </b>
                            <div class="row row-cols-1 row-cols-md-4">
                                {% for user in projet.equipe %}
                                    <!-- Card -->
                                    <div class="col mb-4">
                                        <div class="card text-center d-flex align-items-center text-dark">

                                            <div class="avatar mx-auto white">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                                     class="rounded-circle"
                                                     alt="woman avatar">
                                            </div>
                                            <!-- Content -->
                                            <div class="card-body">
                                                <!-- Name -->
                                                <h4 class="card-title">{{ user.lastname }}</h4>
                                                <h4 class="card-title">{{ user.firstname }}</h4>

                                                <span>Taux journalier : <b>{{ user.tauxJournalier }}€</b></span><br>
                                                <span>Rémunération projet : <b>{{ user.tauxJournalier }}€</b></span>

                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <b>Propositions de profils : </b>
                            <div class="row row-cols-1 row-cols-md-4">
                                    {% for user in user_disponible %}
                                        <!-- Card -->
                                        {% if user.isDisponible(projet) == true%}
                                            <div class="col mb-4">
                                                <div class="card text-center d-flex align-items-center text-dark">

                                                    <div class="avatar mx-auto white">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                                             class="rounded-circle"
                                                             alt="woman avatar">
                                                    </div>
                                                    <!-- Content -->
                                                    <div class="card-body">
                                                        <!-- Name -->
                                                        <h4 class="card-title">{{ user.lastname }}</h4>
                                                        <h4 class="card-title">{{ user.firstname }}</h4>

                                                        <span>Taux journalier : <b>{{ user.tauxJournalier }}€</b></span><br>
                                                        <span>Rémunération projet : <b>{{ user.tauxJournalier }}€</b></span>

                                                    </div>
                                                        <a class="btn btn-warning" style="color: black;"
                                                           href="{{ path("user_select_equipe", {id: projet.id, user_id: user.id}) }}">
                                                            <b>ATTRIBUER</b></a>
                                                        <br>
                                                </div>

                                            </div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
