{% extends 'back/base_admin.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block content %}
    <h3>Les</h3>
    <h3><b>missions</b> <a href="{{ path('admin_projet_new') }}" type="button" class="btn btn-warning"
                           style="color: black"><b>Create new</b></a>
    </h3>
    <br>

    <div class="col-md-6">
        <div class="d-inline-flex justify-content-between">
            <a style="color: black;" class=""
               href="{{ path('admin_projet_filter_status', {status : "disponible"}) }}"><b>A
                    PROPOSER</b></a>

            <a style="margin-left: 2em; color: black;" class=""
               href="{{ path('admin_projet_filter_status', {status : "non_disponible"}) }}"><b>EN
                    COURS</b></a>
        </div>
    </div>
    <br>
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-10 col-xl-8 d-inline-flex flex-wrap">
            <a class="btn btn-outline-black" href="{{ path('admin_projet_index') }}" role="tab"
               style="color: black; border-radius: 10px;"><b>TOUS</b></a>
            {% for type in typeProjets %}
                <a class="btn btn-outline-black" href="{{ path('admin_projet_filter_type', {'id': type.id}) }}" role="tab"
                   style="color: black; border-radius: 10px;"><b>{{ type.title }}</b></a>
            {% endfor %}
        </div>
        <!-- Grid column -->

    </div>
    <br>
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-2 text-center">
                            <h1 class="projet-titre">{{ projet.title }} <a type="button" class="btn btn-warning"
                                                                           href="{{ path('admin_projet_edit', {'id': projet.id}) }}">Edit</a>
                            </h1>
                            <p>{{ projet.client }}</p>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">

                                <p><b>Budget :</b> {{ (projet.budget == null ) ? 0 : projet.budget }}€</p>
                                <p><b>Équipe nécessaire :</b>
                                <ul>
                                    {% for metier in projet.equipeNecessaire %}
                                        <li>{{ metier }}</li>
                                    {% endfor %}
                                </ul>
                                </p>
                                <p><b>Deadline : </b>{{ projet.deadline|date('d/m/Y') }}</p>
                            </div>
                            <div class="col-md-6">

                                <p><b>Description : </b></p>
                                <p>{{ projet.description }}</p>
                                <p><b>Livrable : </b></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Propositions de profils : </b>
                            <div class="row row-cols-1 row-cols-md-4">
                                {% if projet.chefProjet != null %}
                                    <div class="col mb-3">
                                        <div class="card text-center d-flex align-items-center text-dark">
                                            <br>
                                            <div class="avatar mx-auto white">
                                                <img height="100px" width="100px"
                                                     src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                                     class="rounded-circle"
                                                     alt="woman avatar">
                                            </div>
                                            <!-- Content -->
                                            <div class="card-body text-center">
                                                <!-- Name -->
                                                <h4 class="card-title">{{ projet.chefProjet.lastname }}</h4>
                                                <h4 class="card-title">{{ projet.chefProjet.firstname }}</h4>

                                                <span>Secteur privilégié : <b>All</b></span><br>
                                                <span>Taux journalier : <b>{{ projet.chefProjet.tauxJournalier }}€</b></span><br>
                                                <span>Rémunération projet : <b>{{ projet.chefProjet.tauxJournalier }}€</b></span>

                                            </div>
                                            <a type="button" class="btn btn-warning">
                                                <b>ATTRIBUÉ</b></a>
                                            <br>
                                        </div>

                                    </div>
                                {% else %}
                                    {% for chef in chef_projets %}
                                        <!-- Card -->
                                        <div class="col mb-4">
                                            <div class="card text-center d-flex align-items-center text-dark">

                                                <div class="avatar mx-auto white">
                                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                                         class="rounded-circle"
                                                         alt="woman avatar">
                                                </div>
                                                <!-- Content -->
                                                <div class="card-body">
                                                    <!-- Name -->
                                                    <h4 class="card-title">{{ chef.lastname }}</h4>
                                                    <h4 class="card-title">{{ chef.firstname }}</h4>

                                                    <span>Taux journalier : <b>{{ chef.tauxJournalier }}€</b></span><br>
                                                    <span>Rémunération projet : <b>{{ chef.tauxJournalier }}€</b></span>

                                                </div>
                                                <a class="btn btn-warning" style="color: black;"
                                                   href="{{ path("admin_projet_affect_chef", {id: projet.id, user_id: chef.id}) }}">
                                                    <b>ATTRIBUER</b></a>
                                                <br>
                                            </div>

                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
