{% extends 'base.html.twig' %}

{% block body %}
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">LES AGENTS DU WEB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" style="margin-right: 2em;">
                <li class="nav-item">
                    <a class="nav-link active" href="#concept">CONCEPT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#valeur">VALEURS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#missions">MISSIONS</a>
                </li>
            </ul>
            <div>
                <a class="btn btn-outline-dark  " type="button" href="{{ path('app_login') }}">
                    CONNEXION
                </a>
                <a class="btn btn-warning" type="button" href="#contact">
                    JE VEUX DEVENIR COLLABORATEUR
                </a>
            </div>
        </div>
    </nav>

    <hr>
    <!-- Page Header -->
    <!-- Main Content -->
    <div class="background" style="margin-left: 2em; margin-right: 0em;">
        <section id="concept">
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h2>Deviens un agent</h2>
                                    <h2><b>pour profiter de notre expertise et clients</b></h2>
                                    <div class="carre-blanc">

                                    </div>
                                    <div class="carre-blanc">

                                    </div>
                                    <div class="d-inline-flex justify-content-between">
                                        <br>
                                        <div class="col-sm-3">
                                            <div class="carre">

                                            </div>
                                            <br>
                                            <p class="text-center"><b>1- Promesse</b></p>
                                            <p class="text-center">Profitez des clients de 148</p>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="carre">

                                            </div>
                                            <br>
                                            <p class="text-center"><b>2 - Transmission</b></p>
                                            <p class="text-center">Gagnez en savoir-faire grâce à notre expertise</p>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="carre">

                                            </div>
                                            <br>
                                            <p class="text-center"><b>3 - Communauté</b></p>
                                            <p class="text-center">Profitez des clients de 148</p>
                                        </div>
                                    </div>
                                    <div class="carre-petit">

                                    </div>
                                    <div class="col-sm-11">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-warning">NOUS REJOINDRE</button>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-sm-6">
                                    <img style="margin-right: 0em;"
                                         src="https://cdn.discordapp.com/attachments/684418191836971010/684766204824518811/personnages_2.png">
                                    <p><b> Qui sont les agents du web ?</b></p>
                                    <p>Ucitaquam quatia ne eumqui volorio quam laccabo. Ferum rae maio. Nam nam faccae.
                                        Nam aut voluptatin reped et volorio. Itassin ped quiandunt odit es eiciam, nobit
                                        eossum volo to volorestrum hilla prat ut maxim haribus eum, odignam reperfername
                                        corro qui ab ius archilicae</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <hr>
    <div class="background" style="margin-left: 2em; margin-right: 0em;">
        <section id="partenaires">
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <h3>Partenaires :</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <hr>
    <div class="background" style="margin-left: 2em; margin-right: 0em;">
        <section id="valeur">
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <h3>Pourquoi</h3>
                                    <h3><b>venir chez nous ?</b></h3>

                                </div>
                                <div class="col-md-5">
                                    <p><b>Freelance de qualité</b></p>
                                    <p>reperit am que et ressimustrum atem evellant harchil m odignatiis eatur, sitis et
                                        officipisi in ne dis adis aliciur, es pe laceped isciendi inctesciam</p>
                                    <br>
                                    <p><b>Culture d'entreprise</b></p>
                                    <p>reperit am que et ressimustrum atem evellant harchil m odignatiis eatur, sitis et
                                        officipisi in ne dis adis aliciur, es pe laceped isciendi inctesciam</p>
                                    <img src="https://cdn.discordapp.com/attachments/684418191836971010/684773997665189931/image_2.png"/>
                                </div>
                                <div class="col-md-5">
                                    <p><b>Freelance de qualité</b></p>
                                    <p>reperit am que et ressimustrum atem evellant harchil m odignatiis eatur, sitis et
                                        officipisi in ne dis adis aliciur, es pe laceped isciendi inctesciam</p>
                                    <br>
                                    <p><b>Culture d'entreprise</b></p>
                                    <p>reperit am que et ressimustrum atem evellant harchil m odignatiis eatur, sitis et
                                        officipisi in ne dis adis aliciur, es pe laceped isciendi inctesciam</p>
                                    <br>
                                    <p><b>Qu'est-ce que cela veut dire</b></p>
                                    <p>être certifié B Corp c’est envisager de développer son entreprise selon des
                                        principes économiques plus humains et durables. Ce label est le gage que
                                        l’Agence 148 s’implique et cherche constamment à s’améliorer auprès de ses
                                        clients, de ses employés, de son réseau de partenaires, dans le cadre de sa
                                        gouvernance et même au sujet de son impact environnemental !</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <hr>
    <div class="background" style="margin-left: 2em; margin-right: 0em;">
        <section id="missions">
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <h3>Nos Missions</h3>
                                    <div class="carre-blanc">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <hr>
    <div class="background">
        <section id="contact">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-md-12" style="margin-left: 2em; margin-right: 0em;">
                            <h3>Crée</h3>
                            <h3><b>ton profil</b></h3>
                            <div class="carre-blanc">

                            </div>
                        </div>
                        <div class="mr-auto">
                            <img src="https://cdn.discordapp.com/attachments/684418191836971010/684780318775050284/plante_gauche.png">
                        </div>
                        <div class="d-inline-flex col-md-8">
                            <div class="col-md-4">
                                <p>fil conducteur</p>
                            </div>
                            <div class="col-md-8">
                                <div>
                                    <div>
                                        <h4>Nous avons besoin de quelques informations</h4>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Votre métier :</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect01">
                                                <option selected>Choose...</option>
                                                <option value="1">Développeur Back</option>
                                                <option value="2">Développeur Front</option>
                                                <option value="3">Designer</option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Votre nom :</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Exemple" aria-label="nom" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Votre prenom :</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Exemple" aria-label="prenom" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Votre mail :</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Exemple" aria-label="mail" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="d-inline-flex">
                                            <div class="input-group mb-3"  style="margin-right: 1em;">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Votre CV</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                </div>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Votre portefolio</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-warning">VALIDER</button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <img src="https://cdn.discordapp.com/attachments/684418191836971010/684779916583370784/plante_droite.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer class='background-footer'>
        <nav class="navbar navbar-expand-lg">
            <div class="col-md-10">
                <ul class="navbar-nav" style="margin-left: 4em;">
                    <li class="nav-item mr-auto">
                        <a class="nav-link active text-dark" href="#contact">CONTACT
                        </a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link active text-dark" href="#">RESEAUX SOCIAUX
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>

</body>
{% endblock %}