<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Les agents du web</title>

    <link rel="icon" href="https://cdn.discordapp.com/attachments/684418191836971010/684855279921528872/logo_ADW.png"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ asset('css/style-home.css') }}">


</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<style>
    div, nav {
        font-family: 'Montserrat';
    }

    .home-image {
        background-image: url("personnages.svg");
    }

    .background {
        background: white;
    }

    .background-footer {
        background-color: #508cfa
    }

    .carre {
        position: relative;
        width: 74px;
        height: 74px;
        margin: 0 auto;
        background-color: grey;
    }

    .carre-blanc {
        position: relative;
        width: 74px;
        height: 74px;
        background-color: white;
    }

    .carre-petit {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: white;
    }

</style>
{% block body %}
    <header>
        <div class="background">
            <section>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div>
                        <a class="navbar-brand" href="#" style="margin-left: 2em;">
                            <img src="https://cdn.discordapp.com/attachments/684871801901154331/685152427313332237/logo_ADW_1.png"></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto" style="margin-right: 2em;">
                            <li class="nav-item">
                                <a class="nav-link active" href="#concept"><b>CONCEPT</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#valeur"><b>VALEURS</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#processus"><b>PROCESSUS</b></a>
                            </li>
                        </ul>
                        <div>
                            {% if  is_granted('IS_AUTHENTICATED_FULLY')%}
                                <a class="btn btn-espace" href="{{ path('user_index') }}">
                                    <b>MON ESPACE</b>
                                </a>
                            {% else %}
                                <a class="btn btn-outline-dark  " type="button" href="{{ path('app_login') }}"
                                   data-toggle="modal" data-target="#connexion">
                                    <b>CONNEXION</b>
                                </a>
                                <div class="modal fade" id="connexion">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="login-box">
                                                <div class="card">
                                                    <div class="card-body login-card-body">
                                                        <form method="post">
                                                            {% if error %}
                                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                            {% endif %}

                                                            {% if app.user %}
                                                                <div class="mb-3">
                                                                    You are logged in as {{ app.user.username }}, <a
                                                                            href="{{ path('app_logout') }}">Logout</a>
                                                                </div>
                                                            {% endif %}

                                                            <h1 class="h3 mb-3 font-weight-normal">CONNEXION</h1>
                                                            <label for="inputEmail">Email</label>
                                                            <input type="email" value="{{ last_username }}" name="email"
                                                                   id="inputEmail" class="form-control"
                                                                   required
                                                                   autofocus>
                                                            <label for="inputPassword">Password</label>
                                                            <input type="password" name="password" id="inputPassword"
                                                                   class="form-control" required>

                                                            <input type="hidden" name="_csrf_token"
                                                                   value="{{ csrf_token('authenticate') }}"
                                                            >

                                                            {#
                                                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                                                See https://symfony.com/doc/current/security/remember_me.html

                                                                <div class="checkbox mb-3">
                                                                    <label>
                                                                        <input type="checkbox" name="_remember_me"> Remember me
                                                                    </label>
                                                                </div>
                                                            #}
                                                            <br>                                                        <button class="btn btn-lg btn-warning" type="submit">
                                                                Sign in
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                <a class="btn btn-warning" type="button" href="#contact">
                                    <b>JE VEUX DEVENIR COLLABORATEUR</b>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
                <hr style="color: #AAC7FC;margin-bottom: 0; margin-top: 0;">
            </section>
        </div>
    </header>


    <!-- Page Header -->
    <!-- Main Content -->
    <div class="background" style="margin-left: 2em; margin-right: 0em;">
        <section id="concept">
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <div class="carre-blanc">

                                    </div>
                                    <h2>Deviens un agent</h2>
                                    <h2><b>pour profiter de notre expertise et clients</b></h2>
                                    <div class="carre-blanc">

                                    </div>
                                    <div class="carre-blanc">

                                    </div>
                                    <div class="d-inline-flex justify-content-between">
                                        <br>
                                        <div class="col-sm-3">
                                            <p class="text-center">
                                                <img height="56px"
                                                     src="https://cdn.discordapp.com/attachments/684871801901154331/685078698260824084/Frame.png">
                                            </p>
                                            <br>
                                            <p class="text-center"><img
                                                        src="https://cdn.discordapp.com/attachments/684871801901154331/685058515328565270/Group_41.png">
                                            </p>
                                            <p class="text-center">On s’occupe de vous trouvez des missions.</p>
                                        </div>

                                        <div class="col-sm-3">
                                            <p class="text-center">
                                                <img src="https://cdn.discordapp.com/attachments/684871801901154331/685092637409148941/badge1_1.png">
                                            </p>
                                            <p class="text-center"><img
                                                        src="https://cdn.discordapp.com/attachments/684871801901154331/685058565626789888/Group_28.png">
                                            </p>
                                            <p class="text-center">Gagnez en savoir-faire grâce à notre expertise.</p>
                                        </div>

                                        <div class="col-sm-3">
                                            <p class="text-center">
                                                <img height="56px"
                                                     src="https://cdn.discordapp.com/attachments/684871801901154331/685107379418824723/Group.png">
                                            </p>
                                            <br>
                                            <p class="text-center"><img
                                                        src="https://cdn.discordapp.com/attachments/684871801901154331/685065105301569575/communaute.png">
                                            </p>
                                            <p class="text-center">Des espaces et événements pour vous.</p>
                                        </div>
                                    </div>
                                    <div class="carre-petit">

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="d-flex justify-content-center">
                                            <a class="btn btn-warning" href="#contact">NOUS REJOINDRE</a>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-6">
                                    <div class="ml-auto">
                                        <img height="500 px" width="920 px"
                                             src="https://cdn.discordapp.com/attachments/684418191836971010/684766204824518811/personnages_2.png">
                                    </div>
                                    <div class="col-md-8">
                                        <p><b> Qui sont les agents du web ?</b></p>
                                        <p>C’est une communauté de prestataires freelances de qualité et compétent,
                                            ayant intégrer l’ADN de l’<a href="https://148.fr/"><b
                                                        style="color: #FDC543">agence 148</b></a>. Par cet affiliation,
                                            ils peuvent ainsi
                                            profiter du savoir-faire, des missions et clients de 148.</p>
                                    </div>
                                    <div style="height: 24px">

                                    </div>
                                </div>
                                <div class="carre-blanc">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <hr style="color: #8FD7E4">
    <div class="background" style="margin-left: 2em; margin-right: 0em;">
        <section id="partenaires">
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12 d-inline-flex justify-content-between text-center">
                                    <h3>Partenaires</h3>
                                    <p><b>< ></b></p>
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/684872432095461376/image_3.png">
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/684872475582005257/image_4.png">
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/684872525175586843/image_5.png">
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/684872561150263392/image_6.png">
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/684872648756428852/image_7.png">
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/684872693283291217/image_8.png">
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/684872729303973896/image_9.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <hr style="color: #8FD7E4">
    <div class="background" style="margin-left: 2em; margin-right: 0em;">
        <section id="valeur">
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="carre-blanc">

                                    </div>
                                    <h3>Faites</h3>
                                    <h3><b>nous confiance </b></h3>
                                    <div style="height: 30px">

                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/685140107379998730/Group_42.png">

                                    <p>Nos agents valident leurs compétences et intègre pleinement notre vision.</p>
                                    <br>
                                    <br>
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/685140207804219398/Group_44.png">
                                    <div style="height: 24px">

                                    </div>
                                    <p>Encré dans l’humain, nous souhaitons mettre à coeur nos valeurs au sein de vos
                                        projets.</p>
                                    <br>
                                    <div class="text-center">
                                        <img src="https://cdn.discordapp.com/attachments/684418191836971010/684773997665189931/image_2.png"/>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/685140155958689964/Group_43.png">
                                    <div style="height: 24px">

                                    </div>
                                    <p>Disposez d’un lien privilégié afin d’échanger et instaurer une relation de
                                        confiance avec nos agents via un point hedomadaire et une messagerie.</p>
                                    <br>
                                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/685140265387819018/Group_45.png">
                                    <div style="height: 24px">

                                    </div>
                                    <p>Nos agents s’impliquent pleinement dans votre projet. C’est leur premirère
                                        impression qu’ils vous donnent et sont prêts à vous séduire</p>
                                    <br>
                                    <br>
                                    <p><b>Qu'est-ce que cela veut dire</b></p>
                                    <p>Être certifié B Corp c’est envisager de développer son entreprise selon des
                                        principes économiques plus humains et durables. Ce label est le gage que
                                        l’Agence 148 s’implique et cherche constamment à s’améliorer auprès de ses
                                        clients, de ses employés, de son réseau de partenaires, dans le cadre de sa
                                        gouvernance et même au sujet de son impact environnemental !</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <div class="background">
        <section id="processus">
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="carre-blanc">

                            </div>
                            <div class="row mb-2">
                                <div class="col-md-11" style="margin-left: 2em; margin-right: 2em;">
                                    <h3>Notre</h3>
                                    <h3><b>Processus</b></h3>
                                    <div class="carre-blanc">
                                    </div>
                                </div>

                                <div class="d-inline-flex justify-content-between">
                                    <div class="mr-auto">
                                        <div class="carre-blanc">

                                        </div>
                                        <img width="500px" height="400px"
                                             src="https://cdn.discordapp.com/attachments/684871801901154331/684890087691256087/visuel_processus.png">
                                    </div>
                                    <div style="width: 500px">

                                    </div>
                                    <div class="d-block">
                                        <div class="col-md-10">
                                            <div class="d-inline-flex">
                                                <div class="col-md-5">
                                                    <div>
                                                        <img src="https://cdn.discordapp.com/attachments/684871801901154331/684900076858245151/Recrutement.png">
                                                        <p class="text-center">Candidatez maintenant et validez vos
                                                            compétences pour commencer l’aventure dans la jungle.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div>
                                                        <img src="https://cdn.discordapp.com/attachments/684871801901154331/684900259356475421/Transmissions.png">
                                                        <p class="text-center">Intégrez notre philosophie et processus
                                                            de notre agence, tout en progessant dans vos compétences par
                                                            des vidéos interactives.</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="d-inline-flex">
                                                <div class="col-md-5">
                                                    <div>
                                                        <img src="https://cdn.discordapp.com/attachments/684871801901154331/684900220902834192/Suivi_projet.png">
                                                        <p class="text-center">Nous ne vous laissons pas tomber ! Chaque
                                                            projet intégrera un réel suivi et intéraction avec le client
                                                            et nous. Une discussion par projet sera à votre
                                                            disposition.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div>
                                                        <img src="https://cdn.discordapp.com/attachments/684871801901154331/684900306156519462/Remuneration.png">
                                                        <p class="text-center">Après validation du client et de
                                                            l’agence, recever votre rémunération en 3 jours</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <div class="background">
        <section id="contact">
            <div class="content-header">
                <div class="container-fluid">
                    <div style="height: 200px">

                    </div>
                    <div class="row mb-2">

                        <div class="col-md-11" style="margin-left: 2em; margin-right: 0em;">
                            <h3>Crée</h3>
                            <h3><b>ton profil</b></h3>
                            <div class="carre-blanc">

                            </div>
                        </div>
                        <div class="mr-auto">
                            <img src="https://cdn.discordapp.com/attachments/684418191836971010/684780318775050284/plante_gauche.png">
                        </div>
                        <div class="d-inline-flex col-md-8">
                            <div class="col-md-4">
                                <p>fil conducteur</p>
                            </div>
                            <div class="col-md-8">
                                <div>
                                    <div>
                                        <h4>Nous avons besoin de quelques informations</h4>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Votre métier
                                                    :</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect01">
                                                <option selected>Choose...</option>
                                                <option value="1">Développeur Back</option>
                                                <option value="2">Développeur Front</option>
                                                <option value="3">Designer</option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Votre nom :</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Exemple"
                                                   aria-label="nom" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Votre prenom :</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Exemple"
                                                   aria-label="prenom" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="">Votre mail :</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Exemple"
                                                   aria-label="mail" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="d-inline-flex">
                                            <div class="input-group mb-3" style="margin-right: 1em;">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Votre CV</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose
                                                        file</label>
                                                </div>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Votre portefolio</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose
                                                        file</label>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-warning">VALIDER</button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <img src="https://cdn.discordapp.com/attachments/684418191836971010/684779916583370784/plante_droite.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


<!-- Footer -->
<footer class='background-footer'>
    <nav class="navbar navbar-expand-lg">
        <div class="col-md-12">
            <ul class="navbar-nav" style="margin-left: 5em;">
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="#contact"><b style="color: white">adw@148.fr</b>
                    </a>
                </li>
                <li class="nav-item" style="margin-left: 1em;">
                    <a class="nav-link active text-dark" href="#contact"><p style="color: white">+33(1) 42 72 92 37</p>
                    </a>
                </li>
                <li class="nav-item" style="margin-left: 2em;">
                    <a class="nav-link active text-dark" href="#">
                        <img src="https://cdn.discordapp.com/attachments/684871801901154331/685118251910430771/Instagram.png">
                    </a>
                </li>
                <li class="nav-item" style="margin-left: 0.5em;">
                    <a class="nav-link active text-dark" href="#">
                        <img src="https://cdn.discordapp.com/attachments/684871801901154331/685118288703127704/Linekdin.png">
                    </a>
                </li>
                <li class="nav-item" style="margin-left: 0.5em;">
                    <a class="nav-link active text-dark" href="#">
                        <img src="https://cdn.discordapp.com/attachments/684871801901154331/685118468504158208/Frame_1.png">
                    </a>
                </li>
                <li class="nav-item" style="margin-left: 0.5em;">
                    <a class="nav-link active text-dark" href="#">
                        <img src="https://cdn.discordapp.com/attachments/684871801901154331/685118998589079599/Frame_2.png">
                    </a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link active text-dark" href="#">
                        <b style="color: white">©2020 - lesagentsduweb</b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</footer>

{% block script %}

</body>
{% endblock %}


</body>
</html>


