<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agent du Web</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">

    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->


</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<style>
    .home-image {
        position: relative;
        background: red;
        width: 945px;
        height: 450px;
        clip-path: url(
    }
</style>
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">LES AGENTS DU WEB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">CONCEPT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">VALEURS</a>
                </li>
            </ul>
            <div class="ml-auto">
                <button class="btn btn-outline-dark  " type="button">
                    CONNEXION
                </button>
                <button class="btn btn-outline-dark" type="button">
                    JE VEUX DEVENIR COLLABORATEUR
                </button>
            </div>
        </div>
    </nav>

    <hr>
    <!-- Page Header -->
    <!-- Main Content -->
    <div class="">
        <section>
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3>Deviens un agent</h3>
                                    <h3><b>pour profiter de notre expertise et clients</b></h3>
                                </div>
                                <div class="col-md-6">
                                    <div class="home-image">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <hr>
        <section>
            <h3>Partenaires :</h3>
        </section>
        <hr>
        <section>
            <div class="content-wrapper">
                <section class="content">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-5">
                                    <h3>Pourquoi</h3>
                                    <h3><b>venir chez nous ?</b></h3>
                                </div>
                                <div class="col-md-5">
                                    <div class="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <hr>
        <section>

        </section>
    </div>


    <hr>
{% endblock %}


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">Footer1
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Footer2
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Footer3
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% block script %}

</body>
{% endblock %}


</body>
</html>


