{% extends 'base.html.twig' %}

{% block title %}Metier index{% endblock %}

{% block body %}
    <h1>Metier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metier in metiers %}
            <tr>
                <td>{{ metier.id }}</td>
                <td>{{ metier.title }}</td>
                <td>
                    <a href="{{ path('metier_show', {'id': metier.id}) }}">show</a>
                    <a href="{{ path('metier_edit', {'id': metier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('metier_new') }}">Create new</a>
{% endblock %}
