{% extends 'back/base_admin.html.twig' %}

{% block title %}Formation{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card" style="">

            <!--Card content-->
            <div class="card-body  ">
                <h4 class="card-title ">{{ formation.title }}</h4>
                <div>
                    <a type="button" class="btn btn-warning" style="color: black" href="{{ path('formation_index') }}">Back
                        to list</a>
                    <a type="button" class="btn btn-warning" style="color: black"
                       href="{{ path('formation_subscribe', {'id': formation.id}) }}">S'inscrire</a>
                </div>
                <br>
                <H4>DÉBUTANT</H4>
                <p class="client-title"><b>Acquéris : </b> 0%</p>
                <div class="col-md-12">
                    <iframe width="1000" height="500" src="{{ formation.link }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>

                <p><b>Description :</b></p>
                <P>{{ formation.description }}</P>

            </div>
        </div>

    </div>
    <br>
    <div class="col-md-12">
        <div class="d-inline-flex justify-content-between">

            {% for formation in formations %}
                <!-- Card -->
                <div style="">
                    <div class="card" style="width: 300px">

                        <!--Card content-->
                        <div class="card-body text-center ">
                            <h4 class="card-title text-center">{{ formation.title }}</h4>

                            <p class="client-title text-center"><b>Temps :</b> 20 min</p>
                            <p class="client-title text-center"><b>Acquéris : </b> 0%</p>
                            <a type="button" class="btn btn-warning text-center" style="color: black"
                               href="{{ path('formation_show', {'id': formation.id}) }}"><b>ACQUÉRIR</b></a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>




    {#    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>#}




    {#    {{ include('formation/_delete_form.html.twig') }}#}
{% endblock %}
