{% extends 'back/base_admin.html.twig' %}

{% block title %}Formation Subscribed{% endblock %}

{% block content %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.title }}</td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.link }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}">show</a>
                    {#                        <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        <a href="{{ path('formation_index') }}">back to list</a>
        </tbody>
    </table>

{% endblock %}
