{% extends 'base.html.twig' %}

{% block body %}
    <body class="fixed-sn light-blue-skin">

    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed" style="background-color: #154bad">
            <div class="text-center" style="margin-top: 2em;">
                <a class="">
                    <img src="https://cdn.discordapp.com/attachments/684871801901154331/685159400972877845/Calque_2.png"
                         class="img-fluid" alt="">
                </a>
            </div>

            <a class="" href="{{ path('user_profile') }}">
                <img height="500px" width="250px"
                     src="https://cdn.discordapp.com/attachments/684871801901154331/685159039256232005/logos148_version-mini_1.png"
                     class="img-fluid" alt="">
            </a>
            <div class="text-center">
                <h5 style="color: white"><b>{{ app.user }}</b></h5>
            </div>
            <br>
            <div class="text-center">
                {% if app.user %}
                    {% if app.user.isAdmin() == true %}
                        {% include 'back/sideBar/sideBarAdmin.html.twig' %}
                    {% else %}
                        {% include 'back/sideBar/sideBarUser.html.twig' %}
                    {% endif %}
                {% endif %}
            </div>

        </div>
        <!-- Sidebar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">
            {% block content %}{% endblock %}
        </div>
    </main>
    </body>
{% endblock %}