{% extends 'back/base_admin.html.twig' %}

{% block title %}Les compétences{% endblock %}

{% block content %}
    <h3>Les </h3>
    <h3><b>compétences</b></h3>
    <br>
    <div>
        <h6><b>BADGES</b></h6>
        <div class="d-inline-flex justify-content-between">
            <img src="https://cdn.discordapp.com/attachments/684871801901154331/685293478216728594/Vector.png">
            <img style="margin-left: 1em;"
                 src="https://cdn.discordapp.com/attachments/684871801901154331/685293478216728594/Vector.png">
            <img style="margin-left: 1em;"
                 src="https://cdn.discordapp.com/attachments/684871801901154331/685293478216728594/Vector.png">
        </div>
    </div>
    <br>
    <h6><b>COMPÉTENCES À ACQUÉRIR</b></h6>
    <br>
    <div class="d-inline-flex justify-content-between">

        {% for niveau in app.user.niveaux %}
            <!-- Card -->
            <div style="">
                <div class="card" style="width: 300px">

                    <!--Card content-->
                    <div class="card-body text-center ">
                        <h4 class="card-title text-center">{{ niveau.competence.title }}</h4>

                        <p class="client-title text-center"><b>Temps :</b> 20 min</p>
                        <p class="client-title text-center"><b>Acquéris : </b> 0%</p>
                        <a type="button" class="btn btn-warning text-center" style="color: black"
                           href="#"><b>ACQUÉRIR</b></a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

    <div class="">
    <br>
    <h6><b>COMPÉTENCES DISPONIBLE</b></h6>
    <br>
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-10 col-xl-8 d-inline-flex flex-wrap">
            {% for metier in metiers %}
                <a class="btn btn-outline-black" href="{{ path('competence_filter_metier', {'id': metier.id}) }}" role="tab"
                   style="color: black; border-radius: 10px;"><b>{{metier.title}}</b></a>
            {% endfor %}
            <a class="btn btn-outline-black" href="{{ path('user_competences', {id : app.user.id}) }}" role="tab"
               style="color: black; border-radius: 10px;"><b>TOUS</b></a>
        </div>
        <!-- Grid column -->

    </div>
    <br>
    <div class="d-inline-flex justify-content-between">

        {% for competence in competences %}
            <!-- Card -->
            {% if competence.isSelectedBy(app.user) != true %}
                <div style="">
                    <div class="card" style="width: 300px">

                        <!--Card content-->
                        <div class="card-body text-center ">
                            <h4 class="card-title text-center">{{ competence.title }}</h4>

                            <p class="client-title text-center"><b>Temps :</b> 20 min</p>
                            <p class="client-title text-center"><b>Acquéris : </b> 0%</p>
                            <a type="button" class="btn btn-warning text-center" style="color: black"
                               href="{{ path('user_acquerir_competence', {id : app.user.id, competence_id : competence.id}) }}"><b>ACQUÉRIR</b></a>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}

    </div>
{% endblock %}