{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
    <div class="container">
        <div class="col-md-11">
            <div class="card">
                <div class="card-body">
                    <h1>Register</h1>
                    <div class="form-group">
                        <label for="inputEmail">Firstname</label>
                        {{ form_widget(registrationForm.firstname, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Lastname</label>
                        {{ form_widget(registrationForm.lastname, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        {{ form_widget(registrationForm.email, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Phone</label>
                        {{ form_widget(registrationForm.phone, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(registrationForm.plainPassword) }}
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Agree Terms</label>
                        {{ form_widget(registrationForm.agreeTerms) }}
                    </div>
                    <button class="btn btn-warning">{{ button_label|default('Save') }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}

{% endblock %}
