
@media (max-width: 767px) {
    .column-1,
    .column-2 {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .column-1 {
        width: 50%;
    }
    .column-2 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .column-2,
    .column-1 {
        width: 33%;
    }
}

h1 {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-size: 30px;
}

h2 {
    font-family: "Montserrat Medium";
    font-size: 20px;
    height: 10px;
    margin: 10px;
}

p {
    padding: 10px;
}

section {
    font-family: 'Montserrat Bold', 'Montserrat Medium', 'Montserrat Light';
}

.home-image {
    background-image: url("personnages.svg");
}

.background {
    background: white;
}

.background-footer {
    background-color: #508cfa
}

.carre {
    position: relative;
    width: 74px;
    height: 74px;
    margin: 0 auto;
    background-color: grey;
}

.carre-blanc {
    position: relative;
    width: 74px;
    height: 74px;
    background-color: white;
}

.carre-petit {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
}


.sidebar-fixed{height:100vh;width:270px;-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);z-index:1050;background-color:#fff;padding:0 1.5rem 1.5rem}.sidebar-fixed .list-group .active{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);-webkit-border-radius:5px;border-radius:5px}.sidebar-fixed .logo-wrapper{padding:2.5rem}.sidebar-fixed .logo-wrapper img{max-height:50px}@media (min-width:1200px){.navbar,.page-footer,main{padding-left:270px}}@media (max-width:1199.98px){.sidebar-fixed{display:none}}

.container-for-admin{
    background-color: #eee!important;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.side-nav.wide.slim {
    width: 3.75rem !important;
}

.pills-blue-teal .nav-item .nav-link.active {
    background-color: #4fc3f7;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: #4fc3f7;}
    to {background-color: #009688;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: #4fc3f7;}
    to {background-color: #009688;}
}

.pills-outline-purple-anm .nav-item .nav-link.active {
    border: 2px solid #9c27b0;
    color: #9c27b0;
    background-color: transparent;
    -webkit-animation-name: outline; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: outline;
    animation-duration: 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes outline {
    from {border: 2px solid #9c27b0; color: #9c27b0;}
    to {border: 2px solid #f48fb1; color: #f48fb1;}
}

/* Standard syntax */
@keyframes outline {
    from {border: 2px solid #9c27b0; color: #9c27b0;}
    to {border: 2px solid #f48fb1; color: #f48fb1;}
}

.pills-orange-anm .nav-item .nav-link.active {
    background-color: #ffa000 ;
    -webkit-animation-name: orange; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: orange;
    animation-duration: 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes orange {
    from {background-color: #ffa000 ;}
    to {background-color: #f44336;}
}

/* Standard syntax */
@keyframes orange {
    from {background-color: #ffa000 ;}
    to {background-color: #f44336;}
}

.btn-affecter {
    background: #fdc543;
    color: black;
}